extends ../templates/page/page
include ../components/welcome/welcome
include ../components/odds-and-outs-table/odds-and-outs-table

block head
  - const pageTitle = "Poker Odds Training";
  - const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
  - const pageKeywords = "webpack, pug, scss";

block content
  //- +welcome({
  //- 	message: 'Welcome! <br/> Happy coding!'
  //- })
  +odds-and-outs-table
